[Unit]
Description=Fetch and queue bootc updates
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc upgrade --quiet

# Throttle the process
CPUQuota=50%
IOWeight=50
Nice=15
